h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4rem;
  color: rgb(40, 4, 75);
  text-align: center;
  padding-top: 10px;
}

.container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-template-rows: repeat(9, 180px);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}